@media (max-width: 705px) {
    .videocontainer {
        width: 100%;
        height: 100vh;
        padding: 0%;
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        border: 2px solid wheat;
        margin-right: 1rem;
        position: relative;
        bottom: 50px;
        right: 30px;
        /* transform: scale(1.2); */
    }

    .mainContainer {
        display: grid;
        grid-template-columns: repeat(1 , minmax (1fr , 1fr));
        /* grid-template-rows: auto; */
        justify-content: center;
        margin-top: 1rem;
      
    }

    .main {
        display: grid;
        grid-template-columns: repeat(1 ,  minmax (1fr , 1fr));

    }

    .sideBar-container {
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

   
}

@media (min-width : 853px) and (max-width: 1024px) {
    .videocontainer {
        width: 100%;
        height: 100vh;
        padding: 0%;
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        border: 2px solid wheat;
        margin-right: 1rem;
        position: relative;
        bottom: 50px;
        right: 30px;
        /* transform: scale(1.2); */
    }

    .mainContainer {
        display: grid;
        grid-template-columns: repeat(1 , minmax (1fr , 1fr));
        /* grid-template-rows: auto; */
        justify-content: center;
        margin-top: 1rem;
      
    }

    .main {
        display: grid;
        grid-template-columns: repeat(1 ,  minmax (1fr , 1fr));

    }

    .sideBar-container {
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}